<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>About - Travlr Getaways Web Template</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
	<div id="background">
		<div id="page">
			{{> header}}
			<div id="contents">
				<div class="box">
					<div>
						<div class="body">
							
							
							<h1>About </h1>
			{{#each info}}
				{{#with one}}
							<h2>{{this.title}}</h2>
							{{{this.body}}}
				{{/with}}
			{{/each}}
							<hr>
							<div class="ads">
			{{#each info}}
				{{#with two}}
								<h2>{{this.title}}</h2>
								{{{this.body}}}
				{{/with}}
			{{/each}}
							</div>
			{{#each info}}
				{{#with three}}				
							<h2>{{this.title}}</h2>
							{{{this.body}}}
				{{/with}}
			{{/each}}
						</div>
					</div>
				</div>
			</div>
		</div>
		{{> footer}}
	</div>
</body>
</html>